body {
    background: #603813; /* fallback for old browsers */
    background: linear-gradient(to right, #ffffff, #b29f94);
}
.bg-header {
    background: linear-gradient(to right, #c21500, #ffc500);
}
.bg-image {
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.transparent {
    background: transparent !important;
}

.darken {
    filter: brightness(80%);
}

dd {
    font-weight: lighter !important;
}

.card {
    border-radius: 15px 50px !important;
}
.card-header {
    border-radius: 15px 50px 0 0 !important;
}
