<div class="row m-2 m-md-4 ">
    <div class="col-md-6">
        <div class="card bg-light mb-3 rounded shadow ">
            <div class="card-body">
                <h6 class="card-title my-3"># People : Registered/ any outcome in app</h6>
                <canvas id="chart_1"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-light mb-3 rounded shadow">
            <div class="card-body">
                <h6 class="card-title my-3"># People : BAC+ TB/ on T3 BAC+/ on T3(all)</h6>
                <canvas id="chart_2"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-light mb-3 rounded">
            <div class="card-body">
                <h6 class="card-title my-3"># of People with any lab result/ Xpert result</h6>
                <canvas id="chart_3"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-light mb-3 rounded">
            <div class="card-body">
                <h6 class="card-title my-3">By entry point: # of people tested / # of people with BAC+ TB</h6>
                <canvas id="chart_4"></canvas>
            </div>
        </div>
    </div>

</div>