<div class="container-fluid p-5">
    <h1 class="font-weight-bold mb-5">MESSAGE LOGS</h1>
    <div class="row">
        {{#each data}}
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="card shadow border-0 bg-image card_dual_border">
                <div class="card-header bg-header text-light">
                    Pkg
                </div>
                <div class="card-body text-light">
                    <dl class="row">
                        <dt class="col-5">IMEI</dt>
                        <dd class="col-7">{{ IMEI }}</dd>
                        <dt class="col-5">ISP</dt>
                        <dd class="col-7">{{ ISP }}</dd>
                        <dt class="col-5">PHONENUMBER</dt>
                        <dd class="col-7">{{ PHONENUMBER }}</dd>
                        <dt class="col-5">DATE</dt>
                        <dd class="col-7">{{ DATE }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>