<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Chart.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white px-5 py-4 shadow ">
        <a class="navbar-brand" href="/">Check TB CM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mx-auto">
                <li class="nav-item active">
                    <a class="nav-link px-4 " href="#">Registered <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link px-4 " href="#">BAC+ TB</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link px-4 " href="#">Xpert Result</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link px-4 " href="#">HIV+</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link px-4 " href="/sms-logs">Message Logs</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Contact Support</button>
            </form>
        </div>
    </nav>
    <main>
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-2" id="side_nav">
                    <div class="row no-gutters">
                        <div class="col-4 transparent">
                            <ul class="nav flex-column text-center">
                                <li class="nav-item py-2 ">
                                    <a class="nav-link" href="#"><i class="fas fa-tv"></i></a>
                                </li>
                                <li class="nav-item py-2">
                                    <a class="nav-link" href="#"><i class="fas fa-clinic-medical"></i></a>
                                </li>
                                <li class="nav-item py-2">
                                    <a class="nav-link" href="#"><i class="fas fa-door-open"></i></a>
                                </li>
                                <li class="nav-item py-2">
                                    <a class="nav-link" href="#"><i class="fas fa-bed"></i></a>
                                </li>
                                <li class="nav-item py-2">
                                    <a class="nav-link" href="#"><i class="fas fa-question-circle"></i></a>
                                </li>
                                <li class="nav-item py-2">
                                    <a class="nav-link" href="#"><i class="fas fa-cog"></i></a>
                                </li>


                            </ul>
                        </div>
                        <div class="col-8 bg-white d-none d-lg-block">
                            <ul class="nav flex-column">
                                <li class="nav-item py-2">
                                    <a class="nav-link" href="#">Laboratory</a>
                                </li>
                                <li class="nav-item py-2">
                                    <a class="nav-link" href="#">Clinic</a>
                                </li>
                                <li class="nav-item py-2">
                                    <a class="nav-link" href="#">Doctor</a>
                                </li>
                                <li class="nav-item py-2">
                                    <a class="nav-link" href="#">Down</a>
                                </li>
                                <li class="nav-item py-2">
                                    <a class="nav-link" href="#">Clinic</a>
                                </li>
                                <li class="nav-item py-2">
                                    <a class="nav-link" href="#">Settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-md-10">
                    {{{body}}}
                </div>
            </div>
        </div>
    </main>
</body>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/Chart.bundle.min.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/main.js"></script>

</html>