@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Play|Raleway&display=swap");

body {
    /*background: linear-gradient(to right, #ffffff, #b29f94);*/
    font-family: "Open Sans";
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins";
    font-weight: 200;
}
.blue-gradient {
    background: linear-gradient(to right, #005bea, #00c6fb);
    color: white !important;
}
.brown-gradient {
    background: linear-gradient(to right top, #ffffff, #b29f94);
}
.bg-gray {
    background-color: #dedfe4;
}
.nav-link {
    font-family: "Play", sans-serif;
}

.bg-header {
    background: linear-gradient(to right, #c21500, #ffc500);
}
.bg-image {
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.transparent {
    background: transparent !important;
}

.darken {
    filter: brightness(80%);
}

dd {
    font-weight: lighter !important;
}

.card_dual_border {
    border-radius: 15px 50px !important;
}
.card:hover {
    cursor: pointer;
}
.card_dual_border .card-header {
    border-radius: 15px 50px 0 0 !important;
}

.rounded-lg {
    border-radius: 1.5rem !important;
}
#side_nav .nav-link {
    color: rgb(44, 41, 41) !important;
}
#side_nav .nav-link i {
    font-size: 1.33em;
}

.bg-primary,
.btn-primary {
    background-color: rgba(15, 82, 186, 70%) !important;
}

.form-control:focus {
    border: none !important;
    color: #495057;
    background-color: #fff;
    border-color: none !important;
    outline: 0;
    box-shadow: inset 0 -1px 0 rgba(15, 82, 186, 90%);
}

#login_container {
    margin: 100px;
    padding: 50px;
}

a,
a:active,
a:hover {
    text-decoration: none !important;
    color: inherit;
}
